<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPz6wFVeiQct_pTjOFE2pxPEivkDEJmc8</string>
	<key>GCM_SENDER_ID</key>
	<string>383094565364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Dimas.Do</string>
	<key>PROJECT_ID</key>
	<string>todonew-e5504</string>
	<key>STORAGE_BUCKET</key>
	<string>todonew-e5504.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383094565364:ios:2f6721648eaa03a482f1a1</string>
</dict>
</plist>